android/.gradle/
android/build/
android/*/build/
android/local.properties
android/.idea/
android/*.iml
android/captures/
android/.cxx/
ios/build/
ios/DerivedData/
ios/*.xcworkspace/xcuserdata/
ios/Pods/
ios/*.xcuserstate
extension/node_modules/
extension/dist/
extension/.env
extension/.env.local
.DS_Store
*.log